In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
from sklearn.metrics import accuracy_score

In [6]:
train = pd.read_csv("D:/NLP/Disaster-tweet(Kaggle)/train.csv")
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [7]:
test = pd.read_csv("D:/NLP/Disaster-tweet(Kaggle)/test.csv")
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [4]:
train.shape

(7613, 5)

### Missing value Treatment

In [3]:
train.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [6]:
test.isnull().sum()

id             0
keyword       26
location    1105
text           0
dtype: int64

In [7]:
print(f'TRAIN SHAPE {train.shape}')
print(f'TEST SHAPE {test.shape}')

TRAIN SHAPE (7613, 5)
TEST SHAPE (3263, 4)

In [20]:
print('Missing values in column Keyword')
print(f'train_ratio: {(train.keyword.isnull().sum()/train.shape[0]*100).round(2)}%')
print(f'test_ratio: {(test.keyword.isnull().sum()/test.shape[0]*100).round(2)}%')

Missing values in column Keyword
train_ratio: 0.8%
test_ratio: 0.8%

In [21]:
print('Missing values in column Location')
print(f'train_ratio: {(train.location.isnull().sum()/train.shape[0]*100).round(2)}%')
print(f'test_ratio: {(test.location.isnull().sum()/test.shape[0]*100).round(2)}%')

Missing values in column Location
train_ratio: 33.27%
test_ratio: 33.86%

* SInce the ratiom of missing value is similar for both train and test data we replace it with 'no-keyword' and 'no-location'

In [8]:
train['keyword']=train['keyword'].fillna('no_keyword')
train['location']=train['location'].fillna('no_location')

In [9]:
test['keyword']=test['keyword'].fillna('no_keyword')
test['location']=test['location'].fillna('no_location')

In [10]:
train.isnull().sum().sum()

0

In [39]:
print('Train-keyword')
print(f'Number of unique words: {train.keyword.nunique()}')
print('\n')
print('Train-location')
print(f'Number of unique words: {train.location.nunique()}')

Train-keyword
Number of unique words: 222


Train-location
Number of unique words: 3342

In [40]:
print('Test-keyword')
print(f'Number of unique words: {test.keyword.nunique()}')
print('\n')
print('Test-location')
print(f'Number of unique words: {test.location.nunique()}')

Test-keyword
Number of unique words: 222


Test-location
Number of unique words: 1603

## Classification using tf-idf-vectorizer

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.naive_bayes import MultinomialNB

In [57]:
train.head()

,id,keyword,location,text,target
0,1,no_keyword,no_location,Our Deeds are the Reason of this #earthquake M...,1
1,4,no_keyword,no_location,Forest fire near La Ronge Sask. Canada,1
2,5,no_keyword,no_location,All residents asked to 'shelter in place' are ...,1
3,6,no_keyword,no_location,"13,000 people receive #wildfires evacuation or...",1
4,7,no_keyword,no_location,Just got sent this photo from Ruby #Alaska as ...,1

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
X= train['text']
Y= train['target']

In [14]:
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=42)

In [65]:
model1 = Pipeline([('tf',TfidfVectorizer()),
                  ('Lin_cl',LinearSVC())])

model2 = Pipeline([('tf',TfidfVectorizer()),
                  ('mul_cl',MultinomialNB())])

In [66]:
model1.fit(x_train,y_train)
pred1 = model1.predict(x_test)

model2.fit(x_train,y_train)
pred2 = model2.predict(x_test)

#### model-3

In [22]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction import DictVectorizer
from sklearn.pipeline import Pipeline
 
model3 = Pipeline([
    ('tf',TfidfVectorizer()),
    ('classifier', RandomForestClassifier(random_state=42))
])
 
model3.fit(x_train, y_train)

C:\Users\VIVEK\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

Pipeline(memory=None,
         steps=[('tf',
                 TfidfVectorizer(analyzer='word', binary=False,
                                 decode_error='strict',
                                 dtype=<class 'numpy.float64'>,
                                 encoding='utf-8', input='content',
                                 lowercase=True, max_df=1.0, max_features=None,
                                 min_df=1, ngram_range=(1, 1), norm='l2',
                                 preprocessor=None, smooth_idf=True,
                                 stop_words=None, strip_accents=None,
                                 sublinear_tf=False,
                                 token_pattern='(?u...
                 RandomForestClassifier(bootstrap=True, class_weight=None,
                                        criterion='gini', max_depth=None,
                                        max_features='auto',
                                        max_leaf_nodes=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=10, n_jobs=None,
                                        oob_score=False, random_state=42,
                                        verbose=0, warm_start=False))],
         verbose=False)

In [23]:
pred3=model3.predict(x_test)
accuracy_score(y_test,pred3)

0.7591943957968477

In [67]:
print(f'linearSVC score: {accuracy_score(y_test,pred1)}')
print(f'multinomial score: {accuracy_score(y_test,pred2)}')

linearSVC score: 0.7981611208406305
multinomial score: 0.8069176882661997

In [68]:
test.head()

,id,keyword,location,text
0,0,no_keyword,no_location,Just happened a terrible car crash
1,2,no_keyword,no_location,"Heard about #earthquake is different cities, s..."
2,3,no_keyword,no_location,"there is a forest fire at spot pond, geese are..."
3,9,no_keyword,no_location,Apocalypse lighting. #Spokane #wildfires
4,11,no_keyword,no_location,Typhoon Soudelor kills 28 in China and Taiwan

In [70]:
test_pred1=model1.predict(test.text)
test_pred2=model2.predict(test.text)

In [72]:
len(test_pred1)

3263

In [73]:
test.shape

(3263, 4)

In [74]:
df_submit_lin = pd.DataFrame({'id':test.id,
                             'target':test_pred1})

In [76]:
df_submit_lin.set_index('id',inplace=True)

In [77]:
df_submit_lin.head()

    target
id
0        0
2        1
3        1
9        1
11       1

In [78]:
df_submit_mul = pd.DataFrame({'id':test.id,
                             'target':test_pred2})

In [80]:
df_submit_mul.set_index('id',inplace=True)

In [83]:
df_submit_lin.to_csv('Linear_submission.csv')

In [84]:
df_submit_mul.to_csv('multi_submission.csv')